.container {
  padding: 0 2rem;
  margin-top: 120px;
  margin-bottom: 40px;
  /* min-height: 84vh; */
}

.main {
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
  align-items: center;
  flex-wrap: wrap;
}

.main *, .whitelist *, .nft_section * {
  /* border: 1px solid red; */
}

.hero {
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  border-bottom-right-radius: 20% 100%;
  border-bottom-left-radius: 20% 100%;
  position: relative;
  top: 0;
  z-index: 1;
  /* width: 100%; */
  background-color: #1d222d;
  /* background-color: #bcb8e1; */
  /* height: 85%; */
}

.content {
  max-width: 1200px;
  /* margin: 0 20px; */
  margin-right: 80px;
  margin-left: 80px;
  padding: 20px 10px;
  max-height: inherit;
  text-align: center;
}

.content h1 {
  font-size: 45px;
  background: #00f7ff;
  background: repeating-linear-gradient(
    to top left,
    #00f7ff 0%,
    #0a92fa 50%,
    #1fbcff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content p {
  margin: 0;
  font-size: 22px;
  padding: 15px;
  line-height: 1.5;
  word-spacing: 10px;
}

.whitelist {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
  align-items: center;
  flex-wrap: wrap;
}

.stumps {
  border-radius: 25px;
  max-width: 400px;
}

.whitelist_btn {
  margin: 20px auto;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #1fbcff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.whitelist_btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.whitelist_btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.whitelist_btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.nft_section {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
  align-items: center;
  flex-wrap: wrap;
}

.content ul {
  text-align: start;
  margin: 20px;
  font-size: 22px;
  padding: 15px;
  line-height: 1.5;
  word-spacing: 10px;
}

.nft {
  margin-right: 40px;
  max-width: 325px;
  border: 3px solid #00f7ff;
  border-radius: 30px;
  transition: transform 0.5s;
}

.nft:hover {
  transform: scale(0.95);
}


.roadmap_section {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
  align-items: center;
  flex-wrap: wrap;
}

.roadmap_section ul {
  list-style: decimal;
}

.roadmap {
  max-width: 300px;
  transition: transform 0.5s;
}

/* account page */
.pfp {
  max-width: 250px;
}



@media only screen and (max-width: 768px) {
  .main {
    flex-direction: column-reverse;
  }
  .nft_section {
    flex-direction: column-reverse;
  }
  .content {
    margin: 0 auto;
  }
}