.hero_section {
  margin: 0rem 0;
  padding: 6rem 4rem;
  background-color: #29c6ff;
  background-color: #181616;
  color: white;
  /* 5c9cfb */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* align-items: ; */
  justify-content: space-around;
  justify-content: center;
  text-align: start;
  /* min-height: 90vh; */
}

.hero_section h1, .features_section h1 {
  font-size: calc(28px + 1vw);
  font-size: 34px;

  /* font-weight: 500; */
}

.hero_section p {
  /* margin-bottom: 0; */
  max-width: 60ch;
  font-size: calc(14px + 1vw);
  font-size: 24px;
}

.features_section {
  margin: 0rem;
  padding: 3rem 2rem;
  /* background-color: #181616; */
  /* color: white; */
  background-color: #29c6ff;
  background-color: #b3ffeb;

  /* 5c9cfb */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* justify-content: space-around; */
  text-align: start;
}

.features_section h1 {
  text-align: center;
}

.features_section li {
  /* margin-bottom: 0; */
  /* max-width: 60ch; */
  font-size: calc(14px + 1vw);
  font-size: 22px;
  font-weight: bold;

}

.features_section button {
  margin-top: 40px;
}


.redirect_section {
  margin: 30px auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.redirect_card {
  margin: 0 10px;
}


.redirect_button {
  /* appearance: button; */
  background-color: #29c6ff;
  /* background-image: none; */
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  
  margin: 10px auto;
  /* margin-top: 40px ; */
  /* width: 100px; */
  padding: 12px 10px;
  background: linear-gradient(#00bbff, #63e5ff);

  font-size: 18px;
}

.redirect_button:focus {
  text-decoration: none;
}

.redirect_button:hover {
  text-decoration: none;
}

.redirect_button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.redirect_button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (max-width: 768px) {

  .hero_section {
    flex-direction: column-reverse;
    text-align: center;
    padding: 4rem 1rem ;
  }
  
  .hero_section p {
    font-size: 22px;
  }

  .hero_section h1, .features_section h1 {
    font-size: calc(28px + 1vw);
    font-size: 28px;
  
    /* font-weight: 500; */
  }

  .features_section li {
    /* margin-bottom: 0; */
    /* max-width: 60ch; */
    font-size: calc(14px + 1vw);
    font-size: 20px;
    font-weight: bold;

  }

  .redirect_section {
    margin: 0;
  }

  .redirect_button {
    font-size: 16px;
  }
}